# Env variables, some are probably secret
.env
# These are the application configuration secrets passed to systemd credentials
secrets/*
# This is the certificate authority
ca/*
# This is the ssh directory
ssh/*