{
  SOGoTimeZone = "{{ sogo_time_zone }}";
  SOGoPageTitle = "{{ sogo_page_title }}";
  SOGoLanguage = "English";

  SOGoMailDomain = "{{ sogo_mail_domain }}";
  SOGoIMAPServer = "imaps://{{ sogo_imap_server }}:993/?tls=YES&tlsVerifyMode=none";
  SOGoSMTPServer = "smtp://{{ sogo_smtp_server }}:587/?tls=YES&tlsVerifyMode=none";
  SOGoSMTPAuthenticationType = "PLAIN";
  SOGoIMAPAclConformsToIMAPExt = YES;
  SOGoForceExternalLoginWithEmail = YES;

  SOGoUserSources = (
    {
      type = sql;
      id = directory;
      viewURL = "postgresql://{{ sogo_db_user }}:{{ sogo_db_password }}@127.0.0.1:5432/stalwart/sogo_users";
      canAuthenticate = YES;
      isAddressBook = NO;
      LoginFieldNames = ("mail");
      userPasswordAlgorithm = "sha512-crypt";
    }
  );

  SOGoProfileURL = "postgresql://{{ sogo_db_user }}:{{ sogo_db_password }}@127.0.0.1:5432/{{ sogo_db_name }}/sogo_user_profile";
  OCSFolderInfoURL = "postgresql://{{ sogo_db_user }}:{{ sogo_db_password }}@127.0.0.1:5432/{{ sogo_db_name }}/sogo_folder_info";
  OCSSessionsFolderURL = "postgresql://{{ sogo_db_user }}:{{ sogo_db_password }}@127.0.0.1:5432/{{ sogo_db_name }}/sogo_sessions_folder";
  OCSEMailAlarmsFolderURL = "postgresql://{{ sogo_db_user }}:{{ sogo_db_password }}@127.0.0.1:5432/{{ sogo_db_name }}/sogo_alarms_folder";
  OCSStoreURL = "postgresql://{{ sogo_db_user }}:{{ sogo_db_password }}@127.0.0.1:5432/{{ sogo_db_name }}/sogo_store";
  OCSAclURL = "postgresql://{{ sogo_db_user }}:{{ sogo_db_password }}@127.0.0.1:5432/{{ sogo_db_name }}/sogo_acl";
  OCSCacheFolderURL = "postgresql://{{ sogo_db_user }}:{{ sogo_db_password }}@127.0.0.1:5432/{{ sogo_db_name }}/sogo_cache_folder";

  SOGoAppointmentSendEMailNotifications = YES;
  SOGoEnableEMailAlarms = YES;

  SOGoMemcachedHost = "127.0.0.1";

  SOGoCalendarDefaultRoles = (
    PublicViewer,
    ConfidentialDAccessor
  );

  SOGoSuperUsernames = ("admin");
  SOGoFirstDayOfWeek = 1;
}
